@{
    ViewData["Title"] = "Delete Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model WorldTravelBlog.Models.Location

<h1>Are you sure you want to delete this location: @Html.DisplayFor(model => model.Name)?</h1>
<hr />

<h2>Country: @Html.DisplayFor(model => model.Country)</h2>

@using (Html.BeginForm())
{
    <input type="submit" value="Delete" class="btn btn-danger" />
}

@Html.ActionLink("Back to locations list", "Index")