@{
    ViewData["Title"] = "World Travel Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model WorldTravelBlog.Models.Experience

<h1>@Html.DisplayFor(model => model.Title) Details</h1>
<hr />

<h2>Date: @Html.DisplayFor(model => model.Date)</h2>
<h4>Description: @Html.DisplayFor(model => model.Description)</h4>

<p>@Html.ActionLink("Back to experience list", "Index")</p>